NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
# Local: http://localhost:3000
# Produção na Vercel: https://learning.codetoscale.dev
NEXT_PUBLIC_SITE_URL=http://localhost:3000
